.foot_headers{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 12px;
    margin-top: 12px;
    color:#ADC0F2;
}
.foot_elements{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: auto;
    font-size: 18px;
    font-weight: 300;
    color:#EED34D
}
.foot_elements a:hover{
   text-decoration: underline;
}